html, body {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  overflow: hidden;
    background-image: url(/admin/road-street-blur-blurred.jpg);
    background-color: #000717;
    background-size: cover;
    color: white;
}
/* 
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}*/
a,
input,
textarea,
select {
  outline: 0;
}
a {
  text-decoration: none;
  color: #2196f3;
}
p {
  margin: 1em 0;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.row .tablet-25 {
  width: 25%;
/*  width: -webkit-calc((100% - 16px*3) / 4);
  width: calc((100% - 16px*3) / 4);*/
}

#ping{
    z-index: 5000;
    position: absolute;
    right: 11px;
    top: 91px;
    color: black;
}

#ping img{
    display: inline;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
}

#ping img.hide{
    display: none;
}

.button.disabled{opacity: 0.5}
.width800{
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
}
.background-info-white{
    /*background: rgba(255,255,255,0.9);*/
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 2%;
    margin-top: 1%;
    font-size: 18px;
}
.page-content{
    padding-top: 72px;
}
.info-short{
    font-size: 16px;
}
.h100{height: 100%}
.row.no-space{
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.project{
    display: block;
    margin: 30px;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    -moz-transition: -moz-box-shadow 0.2s ease, -moz-transform 0.2s ease;
    -ms-transition: -ms-box-shadow 0.2s ease, -ms-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.project:hover{
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}
.game-title, .header-title{
    position: relative;
    margin-left: 1.5%;
    padding-top: 2.5%;
    padding-bottom: 1%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,0.8);
    line-height: 1;
    text-shadow: 
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1)
    ;
}
.game-title{
    font-size: 50px;
    padding: 10% 2% 1%;
    margin-left: 0px;
    color: rgba(255,255,255,0.8);
    text-shadow: 
        0px 0px 4px rgba(0,0,128,1),
        0px 0px 4px rgba(0,0,128,1),
        0px 0px 4px rgba(0,0,128,1),
        0px 0px 4px rgba(0,0,128,1),
        0px 0px 4px rgba(0,0,128,1)
    ;
}
.info-content{
    margin-bottom: 40px;
}
.info-content p{
    margin-top: 0px;
    margin-bottom: 20px;
}
.color-blue{
    color: #7fafff;
}

.project .title{
    position: relative;
    display: block;
    width: 94%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,1);
    line-height: 1;
    text-shadow: 
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1)
    ;
}
.project .title.gold{
    color: rgba(255, 215, 0, 0.8);
    text-shadow: 
        0px 0px 2px rgba(218,165,32,0.5),
        0px 0px 2px rgba(218,165,32,0.5),
        0px 0px 2px rgba(218,165,32,0.5)
    ;
}
.project .title:before{
    content: '';
    background: rgba(200,200,255,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 0%;
    z-index: -1;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.project:hover .title:before{
    width: 100%;
}
.project .image{
    display: block;
    background-size: cover;
    width: 100%;
    padding-top: 33%;
    vertical-align: middle;
}
.project .create{
    border: 1px solid rgba(255,255,255,0.5);
    color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 6% 0px;
    font-size: 1.5vw;
}
.project .create .icon{
    font-size: 3vw;
}


.btn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 8px;
    border: 0px;
    font-size: 18px;
    border-radius: 1px;
    background: #0d51c3;
    text-shadow: #083073 1px 1px 1px;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    transition: color 0.05s ease, background 0.05s ease;
}
.btn:hover,
.btn:focus {
    background: #1061ea;
    text-decoration: none;
}
.btn:active {
    background: #c8d2e4;
    color: #0d3173;
    text-shadow: none;
    padding: 11px 8px 9px;
}

.btn.waiting {
    background: #c8d2e4;
    color: #0d3173;
    text-shadow: none;
    padding: 11px 8px 9px;
    animation: waitingbtn 3s ease infinite alternate;
}

.btn.red{
    background: #6e0c0c;
    border: 1px solid #6e0c0c;
}
.btn.red:hover,
.btn.red:focus {
    border: 1px solid #7a0d0d;
    background: #a61414;
    color: #ffffff;
    text-decoration: none;
}
.btn.red:active {
    background: #6e0c0c;
}

.btn-width50{
    width: 49%;
}

.logs.hidden{
    display: none;
}

.logs{
    position: absolute;
    left: 0%;
    top: 90px;
    bottom: 0px;
    max-width: 100%;
    max-height: 50%;
    z-index: 5000;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    text-shadow: 1px 1px 0px black;
    overflow: auto;
    pointer-events: none;
}

.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1500;

/*    padding: 20px;
    background: white;
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);*/
    max-width: 100%;
    max-height: 100%;
    
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.1s linear, transform 0.1s ease;
}

.modal.hidden{
    opacity: 0;
    transform: scale(0.8);
    display: none;
}

.mapoverlay-dialog{
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 600;
    padding: 0px;
    margin: 0px;
    text-align: center;
    pointer-events: none;

    opacity: 1;
    transform: scale(1) translateZ(0);
    transition: opacity 0.1s linear, transform 0.2s ease;
}

.mapoverlay-dialog.hidden{
    opacity: 0;
    transform: scale(0.8) translateZ(0);
}

.mapoverlay-dialog > .blk-modal{
    max-width: none;
    position: absolute;
    right: 0px;
    width: 100%;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    max-width: 400px;
    pointer-events: none;
}

.mapoverlay-dialog .blk-bg-black{
    background: transparent;
}

.mapoverlay-dialog .blk-text{
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
}

.mapoverlay-dialog button{
    pointer-events: all;
}

.mapoverlay-dialog .blk-item{
    pointer-events: all;
}

.mapoverlay-dialog .blk-item.item-empty{
    display: none;
}

.modal-dialog{
    position: absolute;
    left: 0%;
    top: 0px;
    z-index: 1000;
    
    bottom: 0%;
    right: 0%;
    
    overflow: auto;
    
    opacity: 1;
    transform: scale(1) translateZ(0);
    transition: opacity 0.1s linear, transform 0.2s ease;
}

.modal-dialog.hidden{
    opacity: 0;
    transform: scale(0.8) translateZ(0);
}

.modal-auth{
    margin: 90px auto 0px;
    max-width: 360px;
    position: relative;
    padding: 20px;
    background: rgba(80,80,80,0.6);
    color: white;
    font-size: 20px;
    line-height: 1;
    border: 2px solid white;
}

.modal-auth .modal-header{
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.modal-auth .modal-info{
    font-size: 14px;
}

.modal-auth .modal-label{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    margin-top: 1em;
}

.modal-auth .modal-error{
    position: relative;
    font-size: 16px;
    margin-top: 1em;
    color: #E64A19;
}

.modal-auth .modal-input{
    position: relative;
    width: 100%;
    max-width: 320px;
    margin-top: 0.3em;
}

.modal-auth .modal-input input{
    position: relative;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 20px;
    border: 0px;
    border-bottom: 1px solid #aaa;
}

.modal-button{
    position: relative;
    margin-top: 1em;
}

.modal-button button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 0px;
    background: #0d51c3;
    text-shadow: #083073 1px 1px 1px;
    color: #ffffff;
    text-decoration: none;
}
.modal-button button:hover,
.modal-button button:focus {
    background: #1061ea;
    color: #ffffff;
    text-decoration: none;
}

.modal-button button:active {
    text-shadow: none;
    padding: 11px 10px 9px;
}

.notify-dialog{
    position: relative;
    top: 120px;
    margin: 0px auto;
    
    max-width: 580px;
    z-index: 1010;

    opacity: 1;
    transform: scale(1) translateZ(0);
    transition: opacity 0.1s linear, transform 0.2s ease;
}

.notify-dialog.hidden{
    opacity: 0;
    transform: scale(0.8) translateZ(0);
}

.blk-notify{}

.blk-notify .header{
    padding: 5px 10px;
    background: rgba(230,230,230,0.9);
    text-align: center;
    font-size: 20px;
    margin-bottom: 1px;
    color: black;
}

.blk-notify.red .header{
    background: rgba(180,30,0,0.9);
    color: black;
}

.blk-notify.yellow .header{
    background: rgba(180,120,0,0.9);
    color: black;
}

.blk-notify .text{
    padding: 5px 10px;
    background: rgba(190,190,190,0.9);
    color: black;
}

.blk-notify .btn{
    padding: 5px 10px;
}

.modal > .blk-block{
    margin: 0px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.modal > .blk-block .blk-field{
    padding: 0px 20px;
}

.modal > .blk-block .blk-header{
    padding: 5px 20px;
}

.modal > .blk-block .blk-footer{
    padding-bottom: 10px; 
}

.modal > .blk-block .blk-space{
    padding-bottom: 4px; 
}

.blk-modal{
    position: relative;
    padding: 0px 10px 20px;
    max-width: 1000px;
    margin: 90px auto 20px;
    color: white;
}

.blk-qrscan-block{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 50%;
}

.blk-qrscan-camera{
    position: absolute;
    display: block;
    top: 4px;
    right: 10px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 1;
}

.blk-qrscan-send{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    padding-top: 25%;
    width: 100%;
    height: 75%;
    z-index: 5;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    color: black;
    font-size: 25px;
}

.blk-qrscan{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.blk-inventory{
    position: relative;
    width: 100%;
    overflow: hidden;
    /*height: 20px;
    padding-top: 33.3%;*/
}

.blk-inventory-item{
    position: relative;
    width: 100%;
    text-align: center;
}

.blk-inventory-inside{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.blk-input{
    padding: 1px;
    padding-right: 5px;
}

.blk-input .blki-input{
    width: 100%;
    font-size: 22px;
}

.blk-error{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #ff3e3e;
    padding-left: 5px;
}

/*blk-iconbox*/

.blk-item.selected .blk-iconbox{
    transform: scale(0.9);
}

.blk-item{
    border-radius: 5px;
    transition: background 0.2s;
}

.blk-item .blk-iconbox{
    transform: scale(1);
    transition: transform 0.2s;
}

.blk-item.selected{
    background: #2196f3;
}

.blk-item.waiting{
    background: #2196f360;
}

.blk-item.waiting .blk-iconbox{
    animation: waiting 1s ease infinite alternate;
}

@keyframes waiting {
    from {transform: scale(1);}
    to {transform: scale(0.9);}
}

@keyframes waitingbtn {
    from {background: #c8d2e4;}
    to {background: #ebf2ff;}
}

.blk-item .blk-iconbox{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blk-item .blk-iconbox .blki-icon{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blk-item .blki-count{
    position: absolute;
    right: 0px;
    bottom: 10%;
    width: 3vw;
    text-align: center;
    padding: 0px;
    border-radius: 5px;
    background: #dfefff;
    color: black;
    font-size: 1vw;
}

.blk-map{
    height: 300px;
}

.blk-bg-black{
    background: rgba(0,0,0,0.7);
    color: white;
}

.blk-bg-white{
    background: rgba(255,255,255,0.7);
    color: black;
}

.blk-button{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.blk-interface{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.blk-margin{
    margin: 1px 0px;
    display: block;
}

.blk-padding{
    padding: 10px 15px;
}

.blk-padding1{
    padding: 1px;
}

.blk-padding10{
    margin: 1px 0px;
    padding: 0px 1px;
}

.blk-margin-top{
    margin-top: 10px;
}

.blk-info{
    font-size: 14px;
}

.blk-task{
    position: relative;
    font-size: 18px;
    color: #7fafff;
    padding-left: 26px;
}

.blk-task .task-icon{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.blk-task.task-inprogress{
    color: #7fafff;
}

.blk-task.task-cancel{
    color: #7fafff;
    opacity: 0.5;
}

.blk-task.task-failed{
    color: #ff4a2b;
}

.blk-task.task-complete{
    color: #7fff84;
}

.blk-task.task-inprogress .ion-pinpoint{
    display: block;
}

.blk-task.task-cancel .ion-pinpoint{
    display: block;
}

.blk-task.task-failed .ion-close-circled{
    display: block;
}

.blk-task.task-complete .ion-checkmark-circled{
    display: block;
}

.blk-text{
    font-size: 14px;
}

.blk-text.fsize-header{
    font-size: 22px;
}

.blk-text.fsize-large{
    font-size: 18px;
}

.blk-text.fsize-medium{
    font-size: 16px;
}

.blk-text.fsize-small{
    font-size: 14px;
}

.blk-text.center{
    text-align: center;
}

.blk-text.bold{
    font-weight: bold;
}

.blk-text.italic{
    font-style: italic;
}

.blk-text.font-roboto{
    font-family: Roboto, Noto, Helvetica, Verdana, sans-serif;
}

.blk-text.font-roboto-condenced{
    font-family: 'Roboto Condensed', sans-serif;
}

.blk-timer-inside{
    text-align: center;
    font-size: 200%;
}

.blk-image{
    max-width: 100%;
    vertical-align: bottom;
}

.btn-width100{
    width: 100%;
}

.blk-header{
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: rgba(255,255,255,1);
    line-height: 1;
    text-shadow: 
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1),
        0px 0px 2px rgba(0,0,128,1)
    ;
    margin-bottom: 3px;
}

.blk-invert-info{
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 18px;
    padding: 10px;
}

.window{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 500;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.1s linear, transform 0.1s ease;
}

.window.window-show{
    opacity: 1;
    transform: scale(1);
}

.window.window-hide{
    z-index: 490;
}

.map-window{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tab-link{
    cursor: pointer;
}

.account{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1100;
    background: rgba(255,255,255,0.7);
}

.account.hide{
    display: none;
}

.account-rows{
    position: relative;
    margin: 1px auto;
    width: 100%;
    max-width: 800px;
    padding: 0px 1px;
    
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.account-cell{
  background: rgba(0,0,0,0.7);
  margin: 0px 1px;
  padding: 2vh 0px;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: white;
  cursor: pointer;
}
.account-cell:hover{
    background:  rgba(120,120,120,0.5);
}

.account-cell.active:after{
    content: '';
    position: absolute;
    bottom: 1px;
    height: 3px;
    top: auto;
    left: 0px;
    right: 0px;
    background: white;
}
.account-cell i.icon{
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    position: relative;
    text-align: center;
}
.account-cell .tabbar-label {
    line-height: 1;
    display: block;
    margin: 0;
    margin-top: 2px;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    text-transform: none;
    font-size: 12px;
}

.account-w800{
    position: relative;
    margin: 1px auto;
    width: 100%;
    max-width: 800px;
}

.account-level{
    position: relative;
    background: rgba(0,0,0,0.5);
    margin: 0px 2px;
    border: 2px solid black;
    color: white;
    text-align: center;
}

.level-name{
    position: relative;
    z-index: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.level-up{
    position: absolute;
    display: block;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 50%;
    background: #0d51c3;
    z-index: 0;
}

.header-name{
    width: 100%;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

.blk-settings.writeonly .writeonly{
    display: block;
}

.blk-settings.writeonly .readonly{
    display: none;
}

.blk-settings.readonly .writeonly{
    display: none;
}

.blk-settings.readonly .readonly{
    display: block;
}

.mapmarkeroverlay{
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    height: auto;
    font-size: 10px;
    padding: 1px 2px 0px;
    border: 1px solid transparent;
    background: transparent;
    pointer-events: none;
    line-height: 1;
}

.mapmarkerbaroverlay{
    position: absolute;
    top: 1px;
    left: 1px;
    height: 2px;
    border-top: 2px solid rgba(255,255,255, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-right: 2px;
}

.mapmarkerbaroverlay.right{
    left: auto;
    right: 1px;
    margin-left: 2px;
    margin-right: 0px;
}

@media screen and (max-width: 767px) {
    .project .title{
        font-size: 4vw;
    }
    .header-title{
        font-size: 6vw;
    }
    .row .col-50 {
      width: 50%;
    }
    .project .create{
        font-size: 3vw;
    }
    .project .create .icon{
        font-size: 6vw;
    }
    .blk-item .blki-count{
        font-size: 3vw;
        width: 7vw;
        text-align: center;
        padding: 0px;
   }
}